{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Eliminar Cuenta</legend>
                <h2>Está seguro que desea eliminar la cuenta  "{{ object.nombres }} ?"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Si</button>
                {% if user.es_admin %}
                <a class="btn btn-outline-secondary" href="{% url 'usuarios:listar_usuarios' %}">No</a>
                {% else %}
                <a class="btn btn-outline-secondary" href="{% url 'usuarios:profile' %}">No</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}