{% extends "base.html" %}
{% block content %}
    <form action="#" method="get" >
      <div class="input-group margin">
         <input type="text" class="form-control">
         <span class="input-group-btn">
             <button class="btn btn-info btn-flat" type="button">Go!</button>
         </span>
      </div>
    </form>
    <!-- Menu desplegable -->
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs" style="justify-content: center" >
            <li class="dropdown" >
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-size: 2em;">
                    Cuerda <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" style="font-size: 1em;">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Guitarra</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Piano</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Arpa</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ver todos</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-size: 2em;">
                    Percusión <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" style="font-size: 1em;">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tambor</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tuba</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Bateria</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ver todos</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-size: 2em;">
                    Viento <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" style="font-size: 1em;">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tambor</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tuba</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Bateria</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ver todos</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-size: 2em;">
                    Instrumentos eléctricos <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" style="font-size: 1em;">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tambor</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tuba</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Bateria</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ver todos</a></li>
                </ul>
            </li>

        </ul>
    </div><!-- Hasta aqui -->

    <h1>Este es home</h1>

    {% for producto in productos %}
    <div class="col-lg-3 col-md-6 mb-4">

        <!--Card-->
        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13.jpg" class="card-img-top" alt="">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->

          <!--Card content-->
          <div class="card-body text-center">
            <!--Category & Title-->
            <a href="" class="grey-text">
              <h5>{{producto.Marca}}</h5>
            </a>
            <h5>
              <strong>
                <a href="" class="dark-grey-text">{{producto.Nombre}}</a>
              </strong>
            </h5>

            <h4 class="font-weight-bold blue-text">
              <strong>{{producto.Precio}}</strong>
            </h4>

          </div>
          <!--Card content-->

        </div>
        <!--Card-->

      </div>
    {% endfor %}
{% endblock content %}
