{% extends "base.html" %}
{% block content %}
    <form action="#" method="get" >
      <div class="input-group margin">
         <input type="text" class="form-control">
         <span class="input-group-btn">
             <button class="btn btn-info btn-flat" type="button">Go!</button>
         </span>
      </div>
    </form>
    <!-- Menu desplegable -->
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs" style="justify-content: center" >
            {% for categoria in categorias %}
              <li class="dropdown" >
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-size: 2em;">
                      {{categoria.nombre}} <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" style="font-size: 1em;">
                      {% for subcategoria in subcategorias %}
                        {% if subcategoria.categoria_id == categoria.id%}
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{subcategoria.nombre}}</a></li>
                        {% endif %}
                      {% endfor %}
                  </ul>
              </li>
            {% endfor %}
        </ul>
    </div><!-- Hasta aqui -->

    {% for producto in productos %}
      <div class="col-lg-3 col-md-6 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card image-->
            <div class="view overlay">
              <img src="{{producto.imagen.url}}" class="card-img-top" alt="" width="300" height="300">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->

            <!--Card content-->
            <div class="card-body text-center">
              <!--Category & Title-->
              <a href="" class="grey-text">
                <h5>{{producto.marca}}</h5>
              </a>
              <h5>
                <strong>
                  <a href="" class="dark-grey-text">{{producto.nombre}}</a>
                </strong>
              </h5>

              <h4 class="font-weight-bold blue-text">
                <strong>{{producto.precio_venta}}</strong>
              </h4>

            </div>
            <!--Card content-->

          </div>
          <!--Card-->

        </div>
    {% endfor %}
{% endblock content %}
