{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        {% if user.es_admin%}
        <button class="btn btn-success" onclick="window.location.assign('{% url 'usuarios:listar_usuarios' %}')"><i class="fa fa-arrow-left"></i> Atrás</button>
        <br>
        <hr>
        {% endif %}
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Compras realizadas</h3>
                <!--<div class="box-tools">
                    <div class="input-group">
                        <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>-->
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <th>ID</th>
                        <th>Valor</th>
                        <th>Fecha</th>
                        <th>Ciudad</th>
                        <th>Dirección</th>
                    </tr>
                    {% for factura in facturas%}
                        <tr>
                            <td>{{factura.id}}</td>
                            <td>{{factura.total}}</td>
                            <td>{{factura.fecha}}</td>
                            <td>{{factura.ciudad_usuario}}</td>
                            <td>{{factura.direccion_usuario}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>

{% endblock content %}