{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}

        <div class="content-section">
            
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Categoria</legend>
                </fieldset>
                {% bootstrap_form form %}
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Actualizar</button>
                </div>
                
            </form>
            <h1>{{categoria.pk}}</h1>
            <button class="btn btn-danger" onclick="window.location.assign('/subcategoria/{{categoria}}/lista')" >Editar subcategorias</button>
        </div>

    
    
{% endblock content %}
