{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Eliminar Producto</legend>
                <h2>Está seguro que desea eliminar la categoria  "{{ object.nombre }} ?"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Si</button>
                <a class="btn btn-outline-secondary" href="{% url 'productos:lista_categoria' %}">No</a>
            </div>
        </form>
    </div>
{% endblock content %}