{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Descuentos</h3>
                <!--<div class="box-tools">
                    <div class="input-group">
                        <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>-->
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <th>ID</th>
                        <th>Fecha inicial</th>
                        <th>Fecha final</th>
                        <th>Porcentaje</th>
                        <th>Producto</th>
                        <th>Opciones</th>
                    </tr>
                    {% for descuento in descuentos%}
                        <tr>
                            <td>{{descuento.id}}</td>
                            <td>{{descuento.fecha_inicio}}</td>
                            <td>{{descuento.fecha_final}}</td>
                            <td>{{descuento.porcentaje}}</td>
                            <td>{{descuento.producto.nombre}}</td>
                            <td>
                                <button class="btn btn-warning" onclick="window.location.assign('{% url 'productos:actu_descuento' descuento.id %}')">Editar</button>  <button class="btn btn-danger" onclick="window.location.assign('{% url 'productos:eliminar_descuento' descuento.id %}')">Eliminar</button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>

{% endblock content %}