{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block css%}
  <link href=" {% static 'css/daterangepicker/daterangepicker-bs3.css' %}" rel="stylesheet" type="text/css" />
{% endblock css%}
{% block content %}
<form action="{% url 'reportes:reporte_ventas_por_rango'%}" method="POST">
    {% csrf_token %}
    <h2>Seleccione un rango de fechas:</h2>
  <div class="row">
    <div>
      <div class="col-md-6">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <input type="text" class="form-control pull-right" name="reservation" id="reservation" required>
        </div><!-- /.input group -->
      </div>
      <div class="col-md-6">
        <button class="btn btn-success" type="submit">enviar</button>
      </div>
    </div>  
  </div>
    
</form>
<br>
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">VENTAS TOTALES POR RANGO DE FECHA</h3>
    </div>
    <div class="box-body">
        <div class="chart">
        <canvas id="barChart" style="height:230px"></canvas>
        </div>
    </div>
</div>
<button class="btn btn-success" onclick="window.location.assign('{% url 'reportes:menu' %}')"><i class="fa fa-arrow-left"></i> Atrás</button>
{% endblock content %}
{% block js %}
<script>
    var barChartCanvas                   = $('#barChart').get(0).getContext('2d')
    var barChart                         = new Chart(barChartCanvas)
    var productos = {{productos | safe}};
    var cantidad = {{cantidad}};
    var barChartData = {
      labels  : productos,
      datasets: [
        {
          label               : 'Unidades vendidas',
          fillColor           : 'rgb(141, 200, 232)',
          strokeColor         : 'rgb(141, 200, 232)',
          pointColor          : 'rgb(141, 200, 232)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : cantidad
        }
      ]
    }
    
    var barChartOptions                  = {
      //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
      scaleBeginAtZero        : true,
      //Boolean - Whether grid lines are shown across the chart
      scaleShowGridLines      : true,
      //String - Colour of the grid lines
      scaleGridLineColor      : 'rgba(0,0,0,.05)',
      //Number - Width of the grid lines
      scaleGridLineWidth      : 1,
      //Boolean - Whether to show horizontal lines (except X axis)
      scaleShowHorizontalLines: true,
      //Boolean - Whether to show vertical lines (except Y axis)
      scaleShowVerticalLines  : true,
      //Boolean - If there is a stroke on each bar
      barShowStroke           : true,
      //Number - Pixel width of the bar stroke
      barStrokeWidth          : 2,
      //Number - Spacing between each of the X value sets
      barValueSpacing         : 5,
      //Number - Spacing between data sets within X values
      barDatasetSpacing       : 1,
      //Boolean - whether to make the chart responsive
      responsive              : true,
      maintainAspectRatio     : true
    }

    barChartOptions.datasetFill = false
    barChart.Bar(barChartData, barChartOptions)
</script>
<script src="{% static 'js/plugins/daterangepicker/daterangepicker.js'%}" type="text/javascript"></script>
<script type="text/javascript">
  $(function() {
    //Date range picker
    $('#reservation').daterangepicker();  
  });
</script>
{% endblock %}
